<!DOCTYPE HTML>
<!--
    Spatial by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>Welcome to My Blog!</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/skel.css" rel="stylesheet">
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/style-xlarge.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html5shivml,body').animate({
                  scrollTop: target.offset().top
                }, "1px");
                return false;
              }
            }
          });
        });
    </script>
    </head>
    <body class="landing">

        <!-- Header -->
            <header id="header" class="alt">
                <h1><strong><a href="#">Yoga</a></strong> Widyakrisna</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#one">To Do Lists!</a></li>
                    </ul>
                </nav>
            </header>

        <!-- Banner -->
            <section id="banner">
                <h2>Welcome to My Blog!</h2>
                <p>Disini anda akan melihat tugas Penjaminan Mutu Perangkat Lunak.<br>
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button special big">Yuk Mulai</a></li>
                </ul>
            </section>
            <!-- One -->
                <section id="one" class="wrapper style1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 jumbotron">
                                <div class="text-center" id="id_header">
                                    <h1>{% block header_text %}{% endblock %}</h1>
                                    <form method="POST" action="{% block form_action %}{% endblock %}">
                                        <input name="item_text" id="id_new_item"
                                               class="form-control input-lg"
                                               placeholder="Enter a to-do item"
                                        />
                                        {% csrf_token %}
                                        {% if error %}
                                            <div class="form-group has-error">
                                                <span class="help-block">{{ error }}</span>
                                            </div>
                                        {% endif %}
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                {% block table %}
                                {% endblock %}
                            </div>
                        </div>

                    </div>
                    <div class="text-center">
                    <h3> Ini Komentar Pribadi Otomatis : "{{ message }}"</h3>
                    </div>

<!--                    <div class="container 75%">
                        <div class="row 200%">
                            <div class="6u 12u$(medium)">
                                <header class="major">
                                    <h2>Maecenas luctus lectus</h2>
                                    <p>Perspiciatis doloremque recusandae dolor</p>
                                </header>
                            </div>
                            <div class="6u$ 12u$(medium)">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
                                <p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
                            </div>
                        </div>
                    </div> -->
                </section>
        <!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <ul class="copyright">
                        <li>&copy; pmpl7yoga</li>
                        <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                        <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
                    </ul>
                </div>
            </footer>

    </body>
</html>
