 <html>
    <head>
        <title>Welcome to My Blog</title>
    </head>
    <body>
         {% extends 'base.html' %}
         {% block header_text %}To-Do list{% endblock %}
         {% block form_action %}{% url 'new_list' %}{% endblock %}
        <table id="id_list_table">
        	    {% for item in items %}
      				<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
    			{% endfor %}
        </table>
        <h3> Ini Komentar Pribadi Otomatis : "{{ message }}"</h3>
   </body>
 </html>